.profile {
  width: fit-content;
  margin: 0 auto;
}
#logo {
  padding: 10px 0;
  height: 50px;
}
.wrap h2 {
  font-family: sans-serif;
  font-weight: 300;
  margin:10px 0;
}
.wrap p {
  font-weight: 300;
  text-align: center;
  margin: 0 10%;
}
a {
  text-decoration: none;
  color: #333945;
}
li {
  list-style: none;
  padding: 10px;
}
.wrap {
  border-radius: 0.25rem;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  background-color: white;
  margin: 20px auto;
  padding: 20px 20px;
  box-shadow: 3px 3px 5px #888888;
  font-family: sans-serif;
}
form {
  padding: 1rem;
}
input,
textarea {
  width: 100%;
  padding: 12px 12px !important;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: sans-serif!important;
}
.btn {
  width: fit-content;
  border: 1px solid #4caf50;
  color: #4caf50;
  padding: 14px 20px;
  margin: 25px 0 0 0;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover {
  background-color: #45a049;
  color: white;
}
label{
  color:grey;
  font-size:small;
}
button[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 10px 0 0 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size:medium;
}
button[type="submit"]:hover {
  background-color: #45a049;
}

.wrap ul li img {
  padding: 6px;
}
.wrap ul li {
  display: flex;
  align-items: center;
}
.container {
  display: flex;
  align-items: center;
  height: 100%;
  margin-top:70px;
}

@media only screen and (min-width: 1000px) {
  nav ul li a:hover {
    color: #ff3031;
    text-transform: scale(1.25);
  }
}

@media only screen and (min-width: 501px) and (max-width: 768px) {
  .wrap h2 {
    color: #333945;
  }
  nav {
    height: 50px;
  }
  .wrap1 {
    width: 80%;
    margin: 0 auto;
  }
  .wrap h2 {
    color: #333945;
  }

  nav ul li a {
    text-decoration: none;
    line-height: 50px;
    display: block;
    color: black;
    font-family: sans-serif;
    font-weight: 510;
    font-size: 15px;
  }
  #logo {
    padding: 6px 0;
    height: 35px;
  }
  .container {
    margin-top:50px;
  }
}

@media only screen and (max-width: 500px) {
  nav {
    width: 100%;
    height: 50px;
  }
  .wrap {
    width: 85%;
  }
  .wrap p {
    margin: 0;
  }

  .wrap1 {
    width: 90%;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  #logo {
    padding: 6px 0;
    height: 35px;
  }
  .profile img {
    height: 150px;
  }
  .container {
    margin-top:50px;
  }
  form{
    padding:0!important;
  }
}
