.wrap {
  width: 50%;
  height: fit-content;
  margin: 0 auto;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrap1 {
  width: 70%;
  margin: 0 auto;
}
#banner {
  width: 100%;
  margin: 0 auto;
}
#banner1 {
  display: none;
}
.banner {
  width: 100%;
  height: fit-content;
  margin-top: 70px;
}

#logo {
  padding: 10px 0;
  height: 50px;
}
h1 {
  font-size: 1.25em;
  font-family: sans-serif;
  line-height: 11vw;
  text-align: center;
  color: #333945;
  font-weight: 500;
  width: 100%;
}

.small {
  border-radius: 0.25rem;
  background: white;
  margin: 10px 10px;
  box-shadow: 2px 2px 3px #888888;
  width: 11vw;
  height: 11vw;
}
.large {
  border-radius: 0.25rem;
  background-color: white;
  margin: 10px 10px;
  width: 30vw;
  height: 11vw;
  box-shadow: 2px 2px 3px #888888;
}

@media only screen and (min-width: 1000px) {
  .wrap div :hover {
    transition: all 0.25s ease-in-out;
    color: red;
  }
  nav ul li a:hover {
    color: #ff3031;
    text-transform: scale(1.25);
  }
}
.container {
  margin: auto 0;
}

@media only screen and (min-width: 501px) and (max-width: 768px) {
  .wrap1 {
    width: 80%;
    margin: 0 auto;
  }
  h1 {
    font-size: 15px;
    font-family: sans-serif;
    line-height: 11vw;
    text-align: center;
    color: #333945;
    font-weight: 500;
    width: 100%;
  }

  nav ul li a {
    text-decoration: none;
    line-height: 50px;
    display: block;
    color: black;
    font-family: sans-serif;
    font-weight: 510;
    font-size: 15px;
  }
  #logo {
    padding: 6px 0;
    height: 35px;
  }

  .banner {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 500px) {
  #banner1 {
    display: block;
    width: 100vw;
  }
  #banner {
    display: none;
  }
  .banner {
    width: auto;
    height: fit-content;
    margin-top: 50px;
  }

  .wrap {
    width: 90%;
    height: fit-content;
    margin: 0 auto;
    display: block;
    flex-direction: column;
    align-items: center;
  }
  .wrap1 {
    width: 90%;
    height: fit-content;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  #logo {
    padding: 6px 0;
    height: 35px;
  }

  .small {
    background-color: white;
    margin: 12px 0;
    width: 100%;
    height: fit-content;
  }
  .large {
    background-color: white;
    margin: 12px 0;
    width: 100%;
    height: fit-content;
  }
  h1 {
    font-size: 20px;
    font-family: sans-serif;
    line-height: 90px;
    text-align: center;
    color: #333945;
    font-weight: 350;
    width: 100%;
  }
}
